@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html,
body {
    height: 100%;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: auto;
    font-size: 1.5rem;
}

h1 {
    font-size: 6em;
}

a {
    color: #FFF;
}

a:hover {
    text-decoration: none;
    color: #6ba2b5;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap>.container {
    padding: 70px 15px 20px;
}

.container-fluid {
    height: 100%;
    margin-top: -4em;
}

.footer {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 1px solid #111;
    color: #FFF;
    position: relative;
    padding-top: 12px;
}

#search-text {
    width: 100%;
    height: 3em;
    border: none;
}

.home-form {
    position: relative;
    margin-top: -5em;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
    background-color: #6ba2b5;
}

.navbar-default {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: #222;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #FFF;
    background-color: #6ba2b5;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}

.btn-search {
    margin-top: 1em;
    border: none;
    background-color: #042c36;
    color: #FFF;
    text-transform: uppercase;
    font-size: 11pt;
}

.btn-search:hover {
    background-color: #5a97aa;
    border-color: #FFF;
    color: #FFF;
}

.form-search {
    margin-top: 2em;
}

.well {
    background-color: rgba(0, 0, 0, 0.6);
    border-color: #444;
}

.container.repos {
    width: 50em;
}

.list-repos li:not(.pagination.li) {
    border-bottom: 1px solid #FFF;
    margin-bottom: 1em;
}

.list-repos li:first-of-type:not(.prev) {
    margin-top: 1em;
}

.btn-repo-detail {
    margin-bottom: 1em;
}

.breadcrumb {
    background-color: #042c36;
}

.pagination {
    justify-content: center;
}

@media(max-width:767px) {
    .container>.navbar-header,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container-fluid>.navbar-collapse {
        margin: initial;
        border: none;
    }
    h1 {
        font-size: 4em;
    }
    .container.repos {
        width: 100%;
    }
    .container-fluid{
        margin-top: 0;
    }
}